html, body, .capa{
    height: 100%;
}

body{
    background: url('imagens/capa.png'), url('imagens/ruido.png'), linear-gradient(50deg,#ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.img-logo{
    height: 40px;
    width: 132px;
    background: url('imagens/spotify.svg') no-repeat;
    display: block;
    background-size: contain;
    color: transparent;
}


nav.navbar-transparente{
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
    border: none;
}

.navbar-brand{
    padding: 0px;
    padding-top: 5px 15px;
}

.divisor{
    width: 1px;
    height: 16px;
    background: white;
    margin: 16px 10px;
}

.navbar-inverse .navbar-nav > li > a, footer .nav a{
    color: white;
}


.navbar-inverse .navbar-nav > li > a:hover, footer .nav a:hover{
    color: #9bf0e1;
    background: none;
}


/* capa  */

.capa{
    display: table;
    width: 100%;
}

.texto-capa{
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

/* botoes*/

.btn-custom{
    color: white;
    border-radius: 500px;
    padding: 10px 35px;
    text-transform: uppercase;
    margin: 0px 15px;
    transition: background 0.4s, color 0.4s;
}

.btn-roxo{
    background-color: #7c25f8;
}

.btn-roxo:hover{
    background-color: #6207e3;
    color: white;
}

.btn-branco{
    border: 2px solid white;
}

.btn-branco:hover{
    background-color: white;
    color: black;
}

/* servicos */

#servicos{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.albuns{
    padding: 10px 0px 10px 0px;
}

.texto-roxo{
    color: #7c25f8;
}


#servicos h2, #servicos h3 {
    color: #7c25f8;
}

/* recursos */

#recursos{
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

#recursos h3 {
    color: #9bf0e1
}


.rotacionar{
    transform: rotate(30deg);
    padding-left: 80px;
}

/*footer*/

#rodape h4{
    color: #919496;
    font-size: 12px;
    text-transform: uppercase;
}

footer{
    background-color: #000;
    padding: 50px 0px 20px 0px;
    position: relative;
}

.item-rede-social{
    float: right;
}

/* tipografia */

h1{
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
}

h2{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
}
h3{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.04em;
}